:root {
  --layout-background-color: #f9fafc;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--layout-background-color);
}
a {
  text-decoration: none;
  color: inherit;
}
