:root {
  --layout-background-color: #ffffff;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  text-transform: none !important;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--layout-background-color);
  overflow-y: hidden;
  scrollbar-color: #b6b6b6 #f1f1f1;
}

body > iframe {
  pointer-events: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #b6b6b6;
  width: 7px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e;
}

.search {
  font-size: inherit !important;
}

img {
  image-rendering: initial;
  filter: none;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}

.react-player__preview {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
